<div>
<section id="news" class="introduction scrollto">
  <div class="row clearfix">
   
  </div>


  <div class="row">
    <div class="col-3">
      <div class="section-heading">
        <img src="../assets/images/breaking-news.jpg" alt="">
      </div>
    </div>

    <div class="">
      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
        <!--Icon-->
        
        <!--Icon Block Description-->
        <div class="icon-description">
          <h5>06/12/2020 15:42:23 | Fintech zoom</h5>
          <h4>Bionamo Genomics (NASDAQ: BNGO) Share</h4>
          <p>
            Has ne tritani atomorum conclusionemque, in dolorum volumus
            cotidieque eum. At vis choro neglegentur iudico
          </p>
          <p>Related : </p>
        </div>
      </div>
      <!--End of Icon Block-->

      

     
    </div>
  </div>



  
</section>


<div class="row">
  <div class="col-3">
    <div class="section-heading">
      <img src="../assets/images/breaking-news.jpg" alt="">
    </div>
  </div>

  <div class="">
    <!--Icon Block-->
    <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
      <!--Icon-->
      
      <!--Icon Block Description-->
      <div class="icon-description">
        <h5>06/12/2020 15:42:23 | Fintech zoom</h5>
        <h4>Bionamo Genomics (NASDAQ: BNGO) Share</h4>
        <p>
          Has ne tritani atomorum conclusionemque, in dolorum volumus
          cotidieque eum. At vis choro neglegentur iudico
        </p>
        <p>Related : </p>
      </div>
    </div>
    <!--End of Icon Block-->

   
  </div>


  
</div>

<!--End of Introduction-->


<!--Introduction-->
<section id="news" class="introduction scrollto">
  <div class="row clearfix">
   
  </div>


  <div class="row">
    <div class="col-3">
      <div class="section-heading">
        <img src="../../../assets/img/breaking-news.jpg" alt="">
      </div>
    </div>

    <div class="">
      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
        <!--Icon-->
        
        <!--Icon Block Description-->
        <div class="icon-description">
          <h5>06/12/2020 15:42:23 | Fintech zoom</h5>
          <h4>Bionamo Genomics (NASDAQ: BNGO) Share</h4>
          <p>
            Has ne tritani atomorum conclusionemque, in dolorum volumus
            cotidieque eum. At vis choro neglegentur iudico
          </p>
          <p>Related : </p>
        </div>
      </div>
      <!--End of Icon Block-->

      

     
    </div>
  </div>



  
</section>
</div>

