

    <div>
      <h3>Bionano Genomics Inc (BNGO)</h3>
      <span id="price">1.36 <span class="increase">+0.476(+53.81%)</span></span>
      <h5>IEX real time price</h5>
  
    </div>
  
    <!-- <div class="chartjs-block">
      <canvas baseChart 
          [datasets]="lineChartData" 
          [labels]="lineChartLabels" 
          [options]="lineChartOptions"
          [colors]="lineChartColors" 
          [legend]="lineChartLegend" 
          [chartType]="lineChartType" 
          [plugins]="lineChartPlugins">
      </canvas>
  </div> -->
  
    <div>
      <h3>Profile</h3>
  
      <div class="left-box">
        <hr>
        <span class="margin-right">EXCHANGE </span> <span >NUMBER OF EMPLOYEES</span>
        <br>
  
        <span  id="bold" class="margin-right">NASDAQ/NMS </span> <span ></span>
       <p>  </p>
  
       <span class="margin-right">FLOAT </span> <span class="margin-rightt">SHARES OUTSTANDING</span>
      
     <br>
  
       <span  id="bold" class="margin-right">... </span> <span  id="bold" class="margin-rightt">158.186M</span>
  
       <p>  </p>
  
       <span class="margin-right">SECTOR </span> <span class="margin-rightt">INDUSTRY</span>
  
       <br>
  
       <span  id="bold" class="margin-right">EXCHANGE </span> <span id="bold"  >TESTING LABORATORIES</span>
  
       <p>  </p>
  
       <span>WEBSITES</span>
       <br>
       <a href="http://bionics.com">www.bionics.com</a>
  
       <p></p>
  
       <p>Tags</p>
  
    
  
       
      
      </div>
  
      
      <div class="right-box">
        <hr>
        <span  class="margin-right">VOLUME</span><span class="margin-right">AVG DAILY VOLUME</span><span class="margin-rightt">OPEN</span>
  
        <br>
        <span id="bold" class="margin-right">212,780,671</span><span id="bold" class="margin-center">AVG DAILY VOLUME</span><span id="bold"  class="margin-rightt">...</span>
        <p></p>
  
        <span class="margin-right">52 WEEK RANGE</span><span class="margin-center">52 WEEK RANGE</span><span class="margin-rightt">PREVIOUS CLOSE</span>
        <br>
        <span  id="bold" class="margin-right">0.26 - 1.76</span><span  id="bold" class="margin-center">0.26 - 1.76</span><span id="bold"  class="margin-rightt">0.884</span>
  
        <p></p>
  
        <span class="margin-right">BETA</span><span class="margin-right">BETA</span><span class="margin-rightt">LATEST EPS QUATER</span>
        <br>
        <span id="bold"  class="margin-right">0.777</span><span  id="bold" class="margin-right">AVG DAILY VOLUME</span><span  id="bold" class="margin-rightt">Q3 2020</span>
  
        <p></p>
  
        <span class="margin-right">DIVIDEND & YIELD</span><span class="margin-right">AVG DAILY VOLUME</span><span class="margin-rightt">P/E RATIO</span>
        <br>
        <span  id="bold" class="margin-right">-</span><span id="bold"  class="margin-right">AVG DAILY VOLUME</span><span id="bold"  class="margin-rightt">OPEN</span>
  
        <p></p>
  
        <span class="margin-right">IEX VOLUME</span><span class="margin-right">AVG DAILY VOLUME</span><span class="margin-rightt">OPEN</span>
        <br>
        <span  id="bold" class="margin-right">1,212,785</span><span id="bold"  class="margin-right">AVG DAILY VOLUME</span><span id="bold"  class="margin-rightt">OPEN</span>
  
  
      </div>
    </div>

  
  
  
    
